# Sql in Python
___
Author: Kamil Pazik

email: pazik.kamil@gmail.com

phone: +48 721 114 737

## TOC
1. [Refresher of OOP](#Refresher-oop)
2. [Ways of connecting Python with databases](#Ways-of-connecting-Python-with-databases)
3. [Installing prerequisites](#Installing-prerequisites)
4. [Direct connect](#Direct-connect)
5. [Orm](#Orm)
6. [Data models](#Data-models)
  1. [Exercises](#Data-models-exercises)
7. [Quering and data manipulations](#Quering-and-data-manipulations)
8. [Simple exploratory data analysis](#Simple-exploratory-data-analysis)

### Refresher-oop

* What is class ? why we need oop ?
* What is instance/object ?
* What are methods / attributes / properties ?
* What are staticmethod / classmethod ?

### Ways of connecting Python with databases
* Directly using specific libs [sqlite](https://docs.python.org/3/library/sqlite3.html), [psycopg2](http://initd.org/psycopg/docs/)
* Using ORM like [sqllachemy](https://www.sqlalchemy.org/)
* Using pandas

### Installing prerequisites

* Database tool - [Dbeaver](https://dbeaver.io/)
  ```
  # install in bash using proper name instead of *
  dpkg -i *.deb
  ```
* Sqlalchemy with pyscopg2
  ```bash
  conda install sqlalchemy
  conda install psycopg2
  ```
  or from jupyter-notebook
  ```python
  !pip install psycopg2
  ```
* Installation of postgres (your linux machine)
  ```bash
  sudo apt-get update
  sudo apt-get install postgresql postgresql-contrib
  ```
  after installation
  ```bash
  su - postgres
  psql -d template1 -c "ALTER USER postgres WITH PASSWORD 'postgres';"
  ```

### Direct connect

In [29]:
import psycopg2

conn = psycopg2.connect("host=127.0.0.1 port=5432 dbname=postgres user=postgres password=postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM user")
cur.fetchall()

[('postgres',)]

In [44]:
cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

In [45]:
conn.commit()

In [25]:
cur.execute("INSERT INTO test(num, data) values(1, 'test data');")

In [46]:
cur.execute("SELECT * FROM test")
cur.fetchall()

[]

In [35]:
# if something is wrong we can use 
# conn.rollback()

In [36]:
cur.execute("SELECT * FROM test")
cur.fetchall()

[]

In [28]:
cur.close()
conn.close()

### Orm
* Object relational mapping,
* Maps data between systems (Python classes to database tables)

In [132]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

engine_memory = create_engine('sqlite:///:memory:', echo=True)

#engine_file = create_engine('sqlite:///test.sqlite', echo=True)
#you can check the file !strings test.sqlite

### Data models

In [133]:
# Important imports
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [134]:
# Important declaration

Base = declarative_base()
Session = sessionmaker(bind=engine_memory)

session = Session()

In [135]:
# creation of class
class Car(Base):
    __tablename__ = 'cars'
    id = Column(Integer, primary_key=True)
    brand = Column(String(20), nullable=False) # Specify max length of varchar
    model = Column(String)
    color = Column(String)
    def __repr__(self): 
        return "{class_desc} object with id: {id}, brand: {brand}, model: {model}, color: {color}".format(
            class_desc=self.__class__,
            id=self.id,
            brand=self.brand,
            model=self.model,
            color=self.color
        )

In [136]:
# creates everything what was launched to create
Base.metadata.create_all(engine_memory)

2018-10-28 03:35:46,090 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-10-28 03:35:46,096 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 03:35:46,100 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-10-28 03:35:46,103 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 03:35:46,105 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("cars")
2018-10-28 03:35:46,106 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 03:35:46,109 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cars (
	id INTEGER NOT NULL,
	brand VARCHAR(20) NOT NULL,
	model VARCHAR,
	color VARCHAR,
	PRIMARY KEY (id)
)


2018-10-28 03:35:46,111 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 03:35:46,113 INFO sqlalchemy.engine.base.Engine COMMIT

### Quering and data manipulations

* Selectin all rows

In [137]:
session.query(Car).all()

2018-10-28 03:35:49,741 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 03:35:49,758 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
2018-10-28 03:35:49,762 INFO sqlalchemy.engine.base.Engine ()

[]

* Creating new objects and adding to database

In [138]:
mazda = Car(brand='mazda', model='6', color='red')
mondeo = Car(brand='ford', model='mondeo', color='blue')

In [139]:
session.add_all([mazda, mondeo])

In [140]:
mazda.color = 'blue'

In [141]:
session.dirty

IdentitySet([])

In [142]:
session.commit()

2018-10-28 03:36:07,749 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 03:36:07,757 INFO sqlalchemy.engine.base.Engine ('mazda', '6', 'blue')
2018-10-28 03:36:07,759 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 03:36:07,765 INFO sqlalchemy.engine.base.Engine ('ford', 'mondeo', 'blue')
2018-10-28 03:36:07,767 INFO sqlalchemy.engine.base.Engine COMMIT

* Checking status of rows

In [148]:
session.new

IdentitySet([<class '__main__.Car'> object with id: None, brand: test, model: 6, color: red])

In [144]:
session.deleted

IdentitySet([])

In [145]:
test = Car(brand='test', model='6', color='red')

In [124]:
test in session

False

In [ ]:
session.

In [150]:
session.add(test)
session.commit()

2018-10-28 03:36:57,243 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 03:36:57,273 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 03:36:57,277 INFO sqlalchemy.engine.base.Engine ('test', '6', 'red')
2018-10-28 03:36:57,283 INFO sqlalchemy.engine.base.Engine COMMIT

In [151]:
test in session

True

In [154]:
test.model = 'nowy2'

In [128]:
test in session

True

In [157]:
session.query(Car).all()

2018-10-28 03:37:37,356 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 03:37:37,359 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
2018-10-28 03:37:37,370 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 3, brand: test, model: 6, color: red]

In [156]:
session.rollback()

2018-10-28 03:37:34,435 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [162]:
session.query(Car).order_by(Car.brand).all()

2018-10-28 03:40:49,075 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.brand
2018-10-28 03:40:49,079 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 3, brand: test, model: 6, color: red]

In [166]:
session.query(Car).filter(Car.brand.in_(['ford', 'mazda'])).all()

2018-10-28 03:41:58,210 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand IN (?, ?)
2018-10-28 03:41:58,216 INFO sqlalchemy.engine.base.Engine ('ford', 'mazda')

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue]

#### sorting

In [168]:
from sqlalchemy import desc, asc

session.query(Car).order_by(desc(Car.id)).all()

2018-10-28 03:44:48,135 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.id DESC
2018-10-28 03:44:48,162 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 3, brand: test, model: 6, color: red,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [169]:
for car in session.query(Car).order_by(desc(Car.id))[1:3]:
    print(car)

2018-10-28 03:45:47,014 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.id DESC
 LIMIT ? OFFSET ?
2018-10-28 03:45:47,017 INFO sqlalchemy.engine.base.Engine (2, 1)
<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue
<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue

#### filtering

In [170]:
session.query(Car).filter(Car.brand=='mazda').filter(Car.color!='red').all()

2018-10-28 03:52:10,460 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ? AND cars.color != ?
2018-10-28 03:52:10,468 INFO sqlalchemy.engine.base.Engine ('mazda', 'red')

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [172]:
session.query(Car).filter(Car.brand.ilike('%m%')).all()

2018-10-28 03:53:47,168 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE lower(cars.brand) LIKE lower(?)
2018-10-28 03:53:47,178 INFO sqlalchemy.engine.base.Engine ('%m%',)

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [173]:
session.query(Car).filter(Car.brand.like('%m%')).all()

2018-10-28 03:56:26,042 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand LIKE ?
2018-10-28 03:56:26,047 INFO sqlalchemy.engine.base.Engine ('%m%',)

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

#### Logic operations

* and

In [178]:
from sqlalchemy import and_
from sqlalchemy import or_

In [179]:
session.query(Car).filter(or_(Car.model=='6', Car.brand=='mazda', Car.color=='red'))

In [181]:
#### Raw statements
session.query(Car).from_statement("SELECT * FROM cars WHERE brand=:brand_param").params(brand='ed').all()

/home/kamil/anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/elements.py:4292: SAWarning: Textual SQL expression 'SELECT * FROM cars WHERE ...' should be explicitly declared as text('SELECT * FROM cars WHERE ...') (this warning may be suppressed after 10 occurrences)
  {"expr": util.ellipses_string(element)})

StatementError: (sqlalchemy.exc.InvalidRequestError) A value is required for bind parameter 'brand_param' [SQL: 'SELECT * FROM cars WHERE brand=?'] [parameters: [{'brand': 'ed'}]] (Background on this error at: http://sqlalche.me/e/cd3x)

### Simple exploratory analysis

In [191]:
session.query(Car).filter(Car.brand=='mazda').count()

2018-10-28 04:12:58,933 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ?) AS anon_1
2018-10-28 04:12:58,935 INFO sqlalchemy.engine.base.Engine ('mazda',)

1

In [196]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [197]:
class Car(Base):
    __tablename__ = 'cars'
    id = Column(Integer, primary_key=True)
    brand = Column(String)
    model = Column(String)
    color = Column(String)
    parking_id = Column(Integer, ForeignKey('parking_lots.id'))
    parking = relationship('ParkingLot', 'cars')
    def __repr__(self):
        return "<Car(id='%s', brand='%s', model='%s', color='%s')>" % (
    self.id, self.brand, self.model, self.color)

/home/kamil/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Car, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'cars' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.